/* Formatação de cores, alinhamento de texto, margem, borda, preenchimento e plano de fundo dos títulos tipo h2*/
h2 {
    color: rgb(197, 30, 197);
    text-align: center;
    margin: 60px 60px;
    border: 1px solid rgb(151, 28, 151);
    padding: 30px;
    background-color: rgb(228, 197, 228);
    color:rgb(141, 3, 141);
}

/* Formatação de cor e plano de fundo da página que será exibida para o usuário*/
body {
    background-color:rgb(236, 233, 236); 
    color: rgb(53, 9, 53);
}

/* Formatação de display horizontal, decoração do texto, bordas e margens dos ítens da lista*/
li {
    display:inline;
    text-decoration:underline;
    width: 340px;
    padding: 10px;
    border: 5px double rgb(143, 2, 143);
    margin: 80px 85px;
    }

    /* Formatação de margem, cor, alinhamento de texto e estilo de fonte do título h1*/
h1 {
    margin: 100px 85px; 
    color: rgb(66, 1, 66);
    text-align: center;
    font-style: italic;
}
